---
import Hero from "../components/Hero.astro";
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import type { Project } from "../types";

const projects = await Astro.glob<Project>("./project/**/*.md");
const featuredProject = projects[0]!;
---

<html lang="en">
  <head>
    <MainHead title="Lukas Troyer" />
  </head>
  <body>
    <Nav />
    <Hero />
    <main class="wrapper">
      <h2>Featured Project</h2>
      <PortfolioPreview project={featuredProject} />
      <div class="actions">
        <a href="/projects/" class="button">View All</a>
      </div>
    </main>
    <style>
      .actions {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    </style>
  </body>
</html>
